<% if Rails.env.development? && params[:debug] %>
    <% console %>
<% end %>

<footer>
    <div class="container-primary">
	<div class="container">
            <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <a href="index.html">
			<img src="/img/logo.svg" class="logo-footer" alt="">
                    </a>
                    <p>Dealbook is an open source project released  under the MIT license. Dealbook's content is licensedunder a Creative Commons  Attribution-ShareAlike 3.0 Unported License.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-offset-0 col-md-5 col-lg-offset-1 col-lg-4">
                    <nav>
			<ul>
                            <li><a href="/companies">Companies</a></li>
                            <li><a href="/deals">Deals</a></li>
                            <li><a href="/people">People</a></li>
                            <li><a href="/investors">Investors</a></li>
                            <li><a href="">Help</a></li>
			</ul>
			<ul>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="">Dealbook API</a></li>
                            <li><a href="">Roadmap</a></li>
                            <li><a href="/developer">Github</a></li>
                            <li><a href="/faq">FAQ</a></li>
			</ul>
                    </nav>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="social">
			<ul>
                            <li>
				<a href="#" target="_blank">
                                    <img src="/img/facebook.svg" alt="">
				</a>
                            </li>
                            <li>
				<a href="#" target="_blank">
                                    <img src="/img/twitter.svg" alt="">
				</a>
                            </li>
			</ul>
                    </div>
                    <a href="/signup" class="btn-join">join now</a>
		</div>
            </div>
	</div>
    </div>
    <div class="copyright">
	<div class="container">
            <div class="row">
		<div class="col-md-12">
                    <p>DESIGN BY <span><a href="https://dribbble.com/insanyDesign" target="_blank">INSANY DESIGN</a></span></p>
		</div>
            </div>
	</div>
    </div>
</footer>
