<section class="s-reasons">
    <div class="s-container">
	<span class="text-receive">Receive all the latest</span>
	<iframe src="/animation/receive/demo.html" frameborder="0" allowtransparency="true" class="img-featured"></iframe>
	<div class="text-reasons">
            <h1>More reasons to Sign up</h1>
            <ul>
		<li>
                    <span class="num">01</span>
                    <p>Receive all the latest updates on tech venture capital and M&A deals.</p>
		</li>
		<li>
                    <span class="num">02</span>
                    <p>Become part of a vibrant open-source community that brings more transparency and liquidity to the market.
                    </p>
		</li>
		<li>
                    <span class="num">03</span>
                    <p>It's completely free.</p>
		</li>
            </ul>
            <a href="/signup" class="btn-join">join now</a>
	</div>
    </div>
</section>
