<section class="s-updates">
    <div class="container-updates">
	<h1><%= t('home.updates.get_all_recent_news') %></h1>
	<a href="#" class="view-all"><%= t('home.updates.view_all') %> <span class="linha"></span></a>
	<div class="swiper-updates">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide">
                    <a href="#">
			<div class="box-update">
                            <p>Worthix raised USD 1,700,000 in Seed funding from 500 Startups, Valor Capital Group, Bebit</p>
                            <span class="date">Updated on 06 Sep 17</span>
			</div>
                    </a>
		</div>
		<div class="swiper-slide">
                    <a href="#">
			<div class="box-update">
                            <p>Worthix raised USD 1,700,000 in Seed funding from 500 Startups, Valor Capital Group, Bebit</p>
                            <span class="date">Updated on 06 Sep 17</span>
			</div>
                    </a>
		</div>
		<div class="swiper-slide">
                    <a href="#">
			<div class="box-update">
                            <p>Worthix raised USD 1,700,000 in Seed funding from 500 Startups, Valor Capital Group, Bebit</p>
                            <span class="date">Updated on 06 Sep 17</span>
			</div>
                    </a>
		</div>
		<div class="swiper-slide">
                    <a href="#">
			<div class="box-update">
                            <p>Worthix raised USD 1,700,000 in Seed funding from 500 Startups, Valor Capital Group, Bebit</p>
                            <span class="date">Updated on 06 Sep 17</span>
			</div>
                    </a>
		</div>
		<div class="swiper-slide">
                    <a href="#">
			<div class="box-update">
                            <p>Worthix raised USD 1,700,000 in Seed funding from 500 Startups, Valor Capital Group, Bebit</p>
                            <span class="date">Updated on 06 Sep 17</span>
			</div>
                    </a>
		</div>
		<div class="swiper-slide">
                    <a href="#">
			<div class="box-update">
                            <p>Worthix raised USD 1,700,000 in Seed funding from 500 Startups, Valor Capital Group, Bebit</p>
                            <span class="date">Updated on 06 Sep 17</span>
			</div>
                    </a>
		</div>
            </div>
	</div>
    </div>
    <div class="arrows-controls">
	<div class="arrow-left">
            <img src="/img/seta-esq.svg" alt="">
	</div>
	<div class="count">
            <span class="current">1</span> /
            <span class="total">6</span>
	</div>
	<div class="arrow-right">
            <img src="/img/seta-dir.svg" class="seta-esq" alt="">
	</div>
    </div>
</section>
