<section class="s-contact">
    <div class="s-left">
        <img src="/img/logo-azul.svg" class="logo" alt="">
        <img src="/img/img-featured-contact.png" class="img-featured" alt="">
    </div>
    <div class="s-right">
        <a href="/" class="btn-back">back to home <img src="/img/close.svg" alt=""></a>
        <div class="form">
            <h1>Talk Us</h1>
            <form action="">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send Message">
                </div>
            </form>
        </div>
        <div class="social">
            <ul>
                <li><a href="#" target="_blank"><img src="/img/facebook-azul.svg" alt=""></a></li>
                <li><a href="#" target="_blank"><img src="/img/twitter-azul.svg" alt=""></a></li>
            </ul>
        </div>
        <span class="email">contact@dealbook.co</span>
    </div>
</section>
