<%= render partial: 'shared/header' %>

<section class="form-create">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <a href="/companies" class="btn-back"><img src="/img/seta-esq-cinza.svg" alt=""> back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1 class="title">Update the Company</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
		<%= form_for @company, url: { action: 'update' , id: @company.permalink }, method: :put do |f| %>
		    <%= render partial: 'form', locals: { f: f } %>
		<% end %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <div class="text-featured">
                    <h1>Lorem ipsum dolor sit </h1>
                    <p>Lorem ipsum dolor sit </p>
                    <img src="/img/img-featured-company.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'shared/footer' %>
