<h1><%= @name %> with email <%= @email %> sent a message:</h1>

<p>
    Message: <br/>
    ====================================================================== <br/>
    <%= @message %> <br/>
    ====================================================================== <br/>
</p>
