<%= render partial: 'shared/header' %>

<section class="s-title-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</section>
<section class="history-dealbook">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-history">
                    <div class="top">
                        <h2>True story!</h2>
                        <h1>The Dealbook History</h1>
                    </div>
                    <img src="/img/img-box-history.jpg" class="img-responsive" alt="">
                </div>
                <div class="text">
                    <div class="item">
                        <h1>Aquela Velha Planilha com os VCs brasileiros…</h1>
                        <p>O ano era 2008. Eu era apenas mais um nerd, curioso sobre os caminhos que a então chamada Web 2.0 estava seguindo.</p>
                        <p>Na época, eu estava lendo e consumindo muito conteúdo sobre startups, venture capital e tendências do mercado digital brasileiro. Estava me preparando para lançar a versão brasileira do ReadWrite (RIP).</p>
                        <p>E como eu estava buscando aprender e entender o mercado de venture capital, fusões e aquisições, acabei sentindo a necessidade de catalogar e organizar as informações do mercado Brasileiro para aprendizados pessoais e também para consulta futura. Então, tudo começou.</p>
                    </div>
                    <div class="item">
                        <h1>O nascimento da planilha</h1>
                        <p>Naquela época as informações não eram muito divulgadas e poucas pessoas acompanhavam este mercado. Então eu comecei uma planilha, que chamei carinhosamente de “Brazil Startup Dealbook”, nome inspirado pela coluna Dealbook, do New York Times.</p>
                        <p>Na primeira versão, o Dealbook era apenas para referência pessoal. Eu seguia as principais notícias sobre startups e tentava catalogar por lá, mas só eu tinha acesso aos dados.</p>
                        <p>Àquela época a planilha tinha apenas 6 colunas:</p>
                        <ul>
                            <li>Data da transação;</li>
                            <li>Nome da empresa;</li>
                            <li>Tipo da transação: Investimento, fusão, aquisição?;</li>
                            <li>Valor/quantia;</li>
                            <li>Nome do fundo/comprador;</li>
                            <li>Link para a fonte da informação.</li>
                        </ul>
                        <p>Ela também tinha uma aba para cada ano, começando em 2007. </p>
                        <p>Era simples, mas funcionava bem.</p>
                    </div>
                </div>
                <div class="box-img-table">
                    <img src="/img/img-table.jpg" class="img-responsive" alt="">
                    <span>Foto do Nascimento da Monashees Capital em 2007</span>
                </div>
                <div class="text">
                    <div class="item">
                        <p>Porém, no ano seguinte aconteceu algo que esquentou MUITO o mercado de investimentos, startups e empreendedorismo digital no Brasil.</p>
                    </div>
                    <div class="item">
                        <h1>Enter Buscapé:</h1>
                        <p>Em setembro de 2009 o grupo Naspers (um conglomerado de mídia da África do Sul) anunciou a aquisição do Buscapé, por US$342 milhões. De repente, startups e investimentos de venture capital se tornaram algo cool no Brasil.</p>
                        <p>O mercado que antes estava praticamente morto, começou a se mover. Investidores como a Monashees, Tiger Global, Naspers e outros, começaram a acelerar o passo dos investimentos no país. Rapidamente o Brasil começou a ter notícias frequentes de investimentos, fusões e ainda que tímidas, aquisições, no setor de Internet.</p>
                        <p>Em pouco tempo eu já não conseguia mais acompanhar todos os deals. Aí, em 2011, comecei a pensar sobre os potenciais benefícios do Crowdsourcing para o Dealbook. Subi a planilha no Google Drive e comecei devagar, compartilhando “my precious” com alguns empreendedores mais próximos.</p>
                        <p>O formato do Google Drive era legal, pois ele permitia que outras pessoas incluíssem novos deals e, aos poucos, a base de dados foi crescendo. Para incluir um negócio, as únicas coisas que você precisava fazer era incluir um link para a notícia e a data da transação.</p>
                        <p>Como eu convivia com muitos outros empreendedores e estava sempre conversando sobre o mercado, várias vezes por semana eu me via enviando a planilha para algum investidor ou alguém em busca de investimentos. Lá pela 10a vez que compartilhei a minha criação, me peguei pensando em porque não torná-la um material público, aberto e livre para toda a comunidade.</p>
                    </div>
                    <div class="item">
                        <h1>Going Public</h1>
                        <p>Em 2011 publiquei a planilha para o mundo (veja o post no Startupi) e aí ela realmente ganhou tração muito rápido. Na data da publicação, por exemplo, a planilha tinha apenas 85 transações. Mas 42 delas tinham sido apenas naquele ano, até o mês de Novembro.</p>
                        <p>A primeira grande ajuda veio de um parceiro de curadoria/moderação. O Luciano Tavares, fundador da Magnetis, estava fazendo alguns investimentos anjo (Disclosure: Ele é investidor-anjo na Rock Content) e curtiu bastante a ideia da planilha, começando então a contribuir com frequência.</p>
                        <p>Rapidamente estávamos nos tornando a base de dados oficial de VC no Brasil e até atualizamos ainda mais a planilha incluindo investimentos de anos anteriores, tentando traçar com mais detalhes a história do Venture Capital no país. Sim, escavamos todos os deals de venture capital públicos BR que conseguimos encontrar. Legal, não?</p>
                    </div>
                </div>
                <div class="box-img">
                    <img src="/img/img-grafico-dealbook.jpg" class="img-responsive" alt="">
                    <span>Gráfico: Novos Deals catalogados no Dealbook, por ano</span>
                </div>
                <div class="text">
                    <div class="item">
                        <h1>E o Caos Reina…</h1>
                        <p>Com o crescimento no volume de deals, e mais pessoas com acesso à planilha, rapidamente ela ganhou vida própria. A cada dia, mais colaboradores adicionavam novas transações. Alguns chegavam a criar novas abas como listas de VCs, anjos, aceleradoras e muito mais.</p>
                        <p>Tivemos algumas vandalizações pontuais, mas o Google Drive tornava fácil reverter e banir os culpados. Aos poucos, a comunidade aprendeu a se policiar e só tivemos que reverter os dados para versões anteriores algumas poucas vezes.</p>
                        <p>Em pouco tempo estávamos batendo o limite máximo de colaboradores do Google Drive e o Lu veio com uma ideia. Ele me mandou uma mensagem no chat mais ou menos assim:</p>
                        <div class="depo">
                            <div class="photo">
                                <img src="/img/photo-depo.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="texto">
                                <p>“Diego, estou aprendendo Rails num bootcamp e tenho que fazer um projeto final. <br>Sabe o que vou (vamos, implícito) codar? DEALBOOK!”</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <p>Cara, aquilo foi massa. Eu não sou um bom programador, mas topei na hora. Em pouco tempo a coisa estava saindo do papel. Nossa ideia era soltar uma versão simples do app, abrir o código no Github e deixar rolar.</p>
                        <p>O Lu fez a maior parte do trabalho de coding e eu fiz aquele design maravilhoso usando Twitter Bootstrap 1.0 e uma simples integração com o LinkedIn.</p>
                    </div>
                    <div class="item">
                        <h1>Dealbook.co</h1>
                    </div>
                </div>
                <div class="box-img-02 box-img">
                    <img src="/img/img-dealbook.jpg" class="img-responsive" alt="">
                </div>
                <div class="text">
                    <div class="item">
                        <p>Em dezembro de 2012 o Lu comprou o domínio e colocamos o app no ar. O código está aberto no Github desde então (veja meu último commit aqui). Já em 2014 ele ganhou um protótipo de uma API básica.</p>
                        <p>Mas o tempo passou e com a correria do dia a dia de empreendedores, acabamos deixando o projeto de lado por um tempo. A surpresa foi que o Dealbook já tinha criado vida própria.</p>
                        <p>Apesar de ser um produto simples, vários usuários submeteram patches, conteúdo e sugestões de melhoria. Hoje o Dealbook.co conta com uma curadoria bem rica, feita por mais de 900 colaboradores voluntários. Por isso, apesar de o app ser extremamente simples e básico em muitos aspectos, seus dados chegam a ser mais completos do que os do famoso Crunchbase.</p>
                        <p>Você ouviu certo: 9 anos depois, continuamos na área e com muito conteúdo legal, em muitos aspectos melhor que o Crunchbase.</p>
                    </div>
                </div>
                <div class="box-img">
                    <img src="/img/img-grafico-02.jpg" class="img-responsive" alt="">
                </div>
                <div class="text">
                    <div class="item">
                        <h1>Um belo causo… mas chegou a hora de um revamp?</h1>
                        <p>Em deNo último ano, intensificamos bastante o trabalho de curadoria, e enriquecemos muito os dados do Dealbook. Apesar disso, um produto de software desta idade, também nos traz alguns desafios.</p>
                        <p>Nosso objetivo com o Dealbook continua sendo buscar, entender e documentar o mercado Brasileiro com uma plataforma aberta e gratuita de dados confiáveis. Atualmente, estamos pensando sobre como podemos melhorar e evoluir o projeto.</p>
                        <p>E é aqui que você, que gastou seu tempo lendo essa longa história, entra no jogo com a gente.</p>
                    </div>
                </div>
                <div class="text">
                    <div class="item">
                        <h1>Como eu posso ajudar?</h1>
                        <p>A primeira é muito fácil e só toma alguns minutos.</p>
                        <p>Nosso objetivo com o Dealbook continua sendo buscar, entender e documentar o mercado Brasileiro com uma plataforma aberta e gratuita de dados confiáveis. Atualmente, estamos pensando sobre como podemos melhorar e evoluir o projeto.</p>
                        <p>E é aqui que você, que gastou seu tempo lendo essa longa história, entra no jogo com a gente.</p>
                        <img src="/img/img-texto.jpg" class="img-texto img-responsive" alt="">
                    </div>
                    <div class="item">
                        <p>Além disso, se você quiser participar de uma forma mais séria, basta responder a essas perguntas</p>
                        <ul>
                            <li> O que você acha do Dealbook?</li>
                            <li>Ele é útil?</li>
                            <li>Ele ainda é relevante?</li>
                            <li>Como ele poderia melhorar?</li>
                            <li>Você tem interesse em contribuir com o projeto de alguma forma?</li>
                        </ul>
                        <p>Quer fazer ainda mais pelo Dealbook? Você pode mandar patches de funcionalidades no Github! Estamos aceitando contribuições, ok?</p>
                        <img src="/img/img-graphics.jpg" class="img-responsive" alt="">
                        <div class="voce-topa">
                            <h1>E aí, você topa?</h1>
                        </div>
                    </div>
                    <div class="item">
                        <h1>O aprendizado do Dealbook</h1>
                        <p>Bom, depois dessa longa história, aqui vão algumas das coisas legais que aprendemos com este projeto.</p>
                        <p>A maior lição é que, em pouco tempo, uma simples planilha com dados do mercado brasileiro conseguiu cobrir um amplo território ainda não explorado: o mercado de startups, VC’s e investidores no Brasil.</p>
                        <p>Hoje, quase 10 anos depois, o Dealbook pode ser considerado a base de dados mais confiável (por ser moderada) dos investimentos, fusões e aquisições no Brasil, desde os anos 2000. Ele foi usado, por exemplo, para a criação do Brazil Startup Report, que hoje já conta com quase 100 mil visualizações.</p>
                        <p>Sim, o Dealbook é um MVP (e põe MVP nisso!) mas pouco tempo depois da sua publicação, o trabalho dos poucos colaboradores iniciais foi amplificado e a comunidade tomou o controle. Hoje o app cataloga mais de 10x mais negócios do que quando foi criado, em 2008, o que é super bacana para uma iniciativa voluntária e sem fins lucrativos.</p>
                        <p>E pra finalizar, se você já usou ou se lembra do Dealbook.co, dá um alô aí nos comentários e me conte como foi a sua experiência. Eu adoro saber como podemos melhorar. :)</p>
                    </div>
                    <div class="item">
                        <div class="team">
                            <div class="box-team">
                                <div class="photo">
                                    <img src="/img/photo-luciano-tavares.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="info">
                                    <h1>Luciano Tavares</h1>
                                    <span>Founder, CEO at Magnetis </span>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <img src="/img/facebook-azul-02.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <img src="/img/twitter-azul-02.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <img src="/img/linkedin-azul.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <img src="/img/instagram-azul.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box-team">
                                <div class="photo">
                                    <img src="/img/photo-diego-gomes.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="info">
                                    <h1>Diego Gomes</h1>
                                    <span>Co-Founder & CMO at Rock Content </span>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <img src="/img/facebook-azul-02.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <img src="/img/twitter-azul-02.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <img src="/img/linkedin-azul.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <img src="/img/instagram-azul.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sponsors">
                            <div class="title-sponsors">
                                <h1>Our Sponsors</h1>
                                <a href="#" class="btn-view-all">view all</a>
                            </div>
                            <div class="all-sponsors">
                                <div class="box-sponsors">
                                    <div class="logo">
                                        <img src="/img/logo-microsoft.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <h2>Microsoft</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                        <div class="social">
                                            <ul>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/facebook-azul-02.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/twitter-azul-02.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/instagram-azul.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="" class="link">www.microsoft.com</a>
                                    </div>
                                </div>
                                <div class="box-sponsors">
                                    <div class="logo">
                                        <img src="/img/logo-microsoft.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <h2>Microsoft</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                        <div class="social">
                                            <ul>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/facebook-azul-02.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/twitter-azul-02.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/instagram-azul.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="" class="link">www.microsoft.com</a>
                                    </div>
                                </div>
                                <div class="box-sponsors">
                                    <div class="logo">
                                        <img src="/img/logo-microsoft.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <h2>Microsoft</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                        <div class="social">
                                            <ul>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/facebook-azul-02.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/twitter-azul-02.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/instagram-azul.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="" class="link">www.microsoft.com</a>
                                    </div>
                                </div>
                                <div class="box-sponsors">
                                    <div class="logo">
                                        <img src="/img/logo-microsoft.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <h2>Microsoft</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                        <div class="social">
                                            <ul>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/facebook-azul-02.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/twitter-azul-02.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
							<img src="/img/instagram-azul.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="" class="link">www.microsoft.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'shared/footer' %>
